# Write a python program to display all the header tags from‘en.wikipedia.org/wiki/Main_Page’.

In [2]:
from bs4 import BeautifulSoup
import requests

In [3]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
html = urlopen('https://en.wikipedia.org/wiki/Main_Page')
bs = BeautifulSoup(html, "html.parser")
titles = bs.find_all(['h1', 'h2','h3','h4','h5','h6'])
print('List all the header tags :', *titles, sep='\n\n')

List all the header tags :

<h1 class="firstHeading" id="firstHeading">Main Page</h1>

<h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>

<h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you know ...</span></h2>

<h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>

<h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>

<h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>

<h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>

<h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>

<h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>

<h2>Navigation menu</h2>

<h3 aria-label="" class="vector-menu-heading" id="p-personal-label">
<span>Personal tools</span>
</h3>

<h3 aria-label="" class="vector-menu-heading" id="p-namespaces-label">
<span>Namespaces</span>
</h3>

<h3 aria-label="Change language variant" class="vector-menu-heading" id="p-variants-label">
<span>Variants</span>
<span class="vector-menu-checkbox-expanded">expanded</span>
<span class="vector-menu-checkbox-collapsed">collapsed</span>
</h3>

<h3 aria-label="" class="vector-menu-heading" id="p-views-label">
<span>Views</span>
</h3>

<h3 aria-label="" class="vector-menu-heading" id="p-cactions-label">
<span>More</span>
<span class="vector-menu-checkbox-expanded">expanded</span>
<span class="vector-menu-checkbox-collapsed">collapsed</span>
</h3>

<h3>
<label for="searchInput">Search</label>
</h3>

<h3 aria-label="" class="vector-menu-heading" id="p-navigation-label">
<span>Navigation</span>
</h3>

<h3 aria-label="" class="vector-menu-heading" id="p-interaction-label">
<span>Contribute</span>
</h3>

<h3 aria-label="" class="vector-menu-heading" id="p-tb-label">
<span>Tools</span>
</h3>

<h3 aria-label="" class="vector-menu-heading" id="p-coll-print_export-label">
<span>Print/export</span>
</h3>

<h3 aria-label="" class="vector-menu-heading" id="p-wikibase-otherprojects-label">
<span>In other projects</span>
</h3>

<h3 aria-label="" class="vector-menu-heading" id="p-lang-label">
<span>Languages</span>
</h3>

# Write a python program to display IMDB’s Top rated  movies’ data (i.e. Name, IMDB rating, Year

In [4]:
from bs4 import BeautifulSoup
import requests
import re


url = 'http://www.imdb.com/chart/top'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'lxml')

movies = soup.select('td.titleColumn')
links = [a.attrs.get('href') for a in soup.select('td.titleColumn a')]
crew = [a.attrs.get('title') for a in soup.select('td.titleColumn a')]
ratings = [b.attrs.get('data-value') for b in soup.select('td.posterColumn span[name=ir]')]
votes = [b.attrs.get('data-value') for b in soup.select('td.ratingColumn strong')]

imdb = []

# Store each item into dictionary (data), then put those into a list (imdb)
for index in range(0, len(movies)):
    # Seperate movie into: 'place', 'title', 'year'
    movie_string = movies[index].get_text()
    movie = (' '.join(movie_string.split()).replace('.', ''))
    movie_title = movie[len(str(index))+1:-7]
    year = re.search('\((.*?)\)', movie_string).group(1)
    place = movie[:len(str(index))-(len(movie))]
    data = {"movie_title": movie_title,
            "year": year,
            "place": place,
            "star_cast": crew[index],
            "rating": ratings[index],
            "vote": votes[index],
            "link": links[index]}
    imdb.append(data)

for item in imdb:
    print(item['place'], '-', item['movie_title'], '('+item['year']+') -', item["rating"])

1 - The Shawshank Redemption (1994) - 9.220540233311239
2 - The Godfather (1972) - 9.147267197407677
3 - The Godfather: Part II (1974) - 8.980488378035394
4 - The Dark Knight (2008) - 8.973024989715224
5 - 12 Angry Men (1957) - 8.939108654713836
6 - Schindler's List (1993) - 8.911127794273707
7 - The Lord of the Rings: The Return of the King (2003) - 8.888278973032225
8 - Pulp Fiction (1994) - 8.83608545301329
9 - Il buono, il brutto, il cattivo (1966) - 8.786404351542808
1 -  The Lord of the Rings: The Fellowship of the Ring (2001) - 8.778490267564422
11 - Fight Club (1999) - 8.7523577752221
12 - Forrest Gump (1994) - 8.743860603418314
13 - Inception (2010) - 8.714641349103504
14 - The Lord of the Rings: The Two Towers (2002) - 8.701995534905658
15 - Star Wars: Episode V - The Empire Strikes Back (1980) - 8.69484018751125
16 - The Matrix (1999) - 8.645259910980915
17 - Goodfellas (1990) - 8.643781409372687
18 - One Flew Over the Cuckoo's Nest (1975) - 8.635165913632092
19 - Shichinin no samurai (1954) - 8.609144138761248
20 - Se7en (1995) - 8.587239357954694
21 - The Silence of the Lambs (1991) - 8.576997917686263
22 - Cidade de Deus (2002) - 8.576379227750563
23 - La vita è bella (1997) - 8.57473603351252
24 - It's a Wonderful Life (1946) - 8.574170458832588
25 - Star Wars (1977) - 8.55173655168493
26 - Saving Private Ryan (1998) - 8.54987610015554
27 - Interstellar (2014) - 8.539071514099925
28 - Sen to Chihiro no kamikakushi (2001) - 8.53840668709596
29 - The Green Mile (1999) - 8.535788607082718
30 - Gisaengchung (2019) - 8.527738026207551
31 - Léon (1994) - 8.499651291419049
32 - Seppuku (1962) - 8.495544647423197
33 - The Pianist (2002) - 8.489389444820663
34 - The Usual Suspects (1995) - 8.486436587388733
35 - Terminator 2: Judgment Day (1991) - 8.484595026375327
36 - Back to the Future (1985) - 8.484294769322375
37 - Psycho (1960) - 8.482066130368203
38 - The Lion King (1994) - 8.480920394816266
39 - Modern Times (1936) - 8.480496243782731
40 - American History X (1998) - 8.473754622075614
41 - City Lights (1931) - 8.471643212924786
42 - Hotaru no haka (1988) - 8.470054409683613
43 - Whiplash (2014) - 8.46848327124135
44 - Gladiator (2000) - 8.468177102619578
45 - The Departed (2006) - 8.466701542391505
46 - The Intouchables (2011) - 8.45966447262915
47 - The Prestige (2006) - 8.452900306641345
48 - Casablanca (1942) - 8.449532286735355
49 - Once Upon a Time in the West (1968) - 8.447918350587894
50 - Rear Window (1954) - 8.438865446498308
51 - Nuovo Cinema Paradiso (1988) - 8.43620859456715
52 - Alien (1979) - 8.422552932625063
53 - Apocalypse Now (1979) - 8.417570501879762
54 - Memento (2000) - 8.409402607895705
55 - Raiders of the Lost Ark (1981) - 8.406480156202624
56 - The Great Dictator (1940) - 8.40483292831329
57 - The Lives of Others (2006) - 8.391299138808659
58 - Django Unchained (2012) - 8.389642226437868
59 - Paths of Glory (1957) - 8.382925248862469
60 - Sunset Blvd (1950) - 8.3771507503584
61 - WALL·E (2008) - 8.372939468220002
62 - Avengers: Infinity War (2018) - 8.365043280898794
63 - The Shining (1980) - 8.36456099000544
64 - Witness for the Prosecution (1957) - 8.363552431358043
65 - Spider-Man: Into the Spider-Verse (2018) - 8.354302929280617
66 - Dr Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1964) - 8.353139394177099
67 - Joker (2019) - 8.34879983982093
68 - Mononoke-hime (1997) - 8.3447493920019
69 - Oldeuboi (2003) - 8.344281827378992
70 - Kimi no na wa (2016) - 8.326327868355518
71 - Once Upon a Time in America (1984) - 8.322831859683415
72 - The Dark Knight Rises (2012) - 8.322569015073045
73 - Coco (2017) - 8.321417076204755
74 - Aliens (1986) - 8.32140233407456
75 - Capharnaüm (2018) - 8.310158984367334
76 - Avengers: Endgame (2019) - 8.308275803308256
77 - Das Boot (1981) - 8.307084057391178
78 - Hamilton (2020) - 8.306395021037401
79 - Tengoku to jigoku (1963) - 8.304352301544764
80 - American Beauty (1999) - 8.298080694354695
81 - Toy Story (1995) - 8.296207852365736
82 - 3 Idiots (2009) - 8.296020334014349
83 - Amadeus (1984) - 8.29473066607303
84 - Braveheart (1995) - 8.294214223872837
85 - Inglourious Basterds (2009) - 8.287699971825688
86 - Good Will Hunting (1997) - 8.28077102944746
87 - Star Wars: Episode VI - Return of the Jedi (1983) - 8.274874167526669
88 - 2001: A Space Odyssey (1968) - 8.273300949252405
89 - Reservoir Dogs (1992) - 8.272093498330104
90 - M - Eine Stadt sucht einen Mörder (1931) - 8.27102038446557
91 - Taare Zameen Par (2007) - 8.270859435199558
92 - Vertigo (1958) - 8.269145768994598
93 - Citizen Kane (1941) - 8.267633787634695
94 - Idi i smotri (1985) - 8.266499748982703
95 - Jagten (2012) - 8.264716709046988
96 - Dune (2021) - 8.26192264458564
97 - Requiem for a Dream (2000) - 8.261439919819209
98 - Singin' in the Rain (1952) - 8.258895564388677
99 - North by Northwest (1959) - 8.257831131656799
10 -  Eternal Sunshine of the Spotless Mind (2004) - 8.256096674943041
101 - Ladri di biciclette (1948) - 8.254734812761502
102 - Ikiru (1952) - 8.25468770973136
103 - Pather Panchali (1955) - 8.254554105917968
104 - Lawrence of Arabia (1962) - 8.249810677910448
105 - The Kid (1921) - 8.246126289549256
106 - Full Metal Jacket (1987) - 8.243272683862024
107 - Dangal (2016) - 8.242721023222678
108 - The Father (2020) - 8.241451233032866
109 - The Apartment (1960) - 8.237633861810833
110 - A Clockwork Orange (1971) - 8.237583385815904
111 - Metropolis (1927) - 8.236739531780547
112 - Taxi Driver (1976) - 8.23610206023093
113 - Incendies (2010) - 8.235827575995192
114 - Double Indemnity (1944) - 8.235078430498348
115 - The Sting (1973) - 8.23360026674082
116 - Jodaeiye Nader az Simin (2011) - 8.232642208347979
117 - Scarface (1983) - 8.232209842440033
118 - 1917 (2019) - 8.231525560101941
119 - Snatch (2000) - 8.230647356485301
120 - Le fabuleux destin d'Amélie Poulain (2001) - 8.230238549226529
121 - Toy Story 3 (2010) - 8.225703801869507
122 - To Kill a Mockingbird (1962) - 8.225498534766173
123 - Per qualche dollaro in più (1965) - 8.218039545492028
124 - Up (2009) - 8.213440184003476
125 - Indiana Jones and the Last Crusade (1989) - 8.203760181603995
126 - LA Confidential (1997) - 8.200586443210732
127 - Heat (1995) - 8.199924495042097
128 - Yôjinbô (1961) - 8.195302504263454
129 - Rashômon (1950) - 8.194724930949512
130 - Ran (1985) - 8.19378777829992
131 - Die Hard (1988) - 8.193057729626695
132 - Green Book (2018) - 8.190220326377654
133 - Der Untergang (2004) - 8.18906499156858
134 - Monty Python and the Holy Grail (1975) - 8.188348364072683
135 - All About Eve (1950) - 8.185908470063254
136 - Some Like It Hot (1959) - 8.184213510072885
137 - Batman Begins (2005) - 8.183713560281769
138 - Unforgiven (1992) - 8.179272080702008
139 - Bacheha-Ye aseman (1997) - 8.17864881723446
140 - Hauru no ugoku shiro (2004) - 8.16371237140978
141 - The Wolf of Wall Street (2013) - 8.160873764700487
142 - Judgment at Nuremberg (1961) - 8.157642974276255
143 - The Great Escape (1963) - 8.157051042957194
144 - Casino (1995) - 8.153918311510454
145 - There Will Be Blood (2007) - 8.153251021326527
146 - The Treasure of the Sierra Madre (1948) - 8.15295057272811
147 - Pan's Labyrinth (2006) - 8.149783465563353
148 - A Beautiful Mind (2001) - 8.148300160722957
149 - El secreto de sus ojos (2009) - 8.145796686411563
150 - Raging Bull (1980) - 8.144522065870555
151 - Tonari no Totoro (1988) - 8.138565330802189
152 - Chinatown (1974) - 8.137949242841328
153 - Lock, Stock and Two Smoking Barrels (1998) - 8.134444807656777
154 - The Gold Rush (1925) - 8.1312659611241
155 - Shutter Island (2010) - 8.130389811553133
156 - No Country for Old Men (2007) - 8.128591738647957
157 - Dial M for Murder (1954) - 8.128208370519994
158 - Det sjunde inseglet (1957) - 8.127417448855722
159 - Three Billboards Outside Ebbing, Missouri (2017) - 8.126751937420444
160 - The Elephant Man (1980) - 8.124222885294476
161 - The Thing (1982) - 8.123859342399303
162 - The Sixth Sense (1999) - 8.122130479987248
163 - Klaus (2019) - 8.119408070707271
164 - The Third Man (1949) - 8.116692168042002
165 - Smultronstället (1957) - 8.11607905730907
166 - V for Vendetta (2005) - 8.114250057076687
167 - Jurassic Park (1993) - 8.114074280351149
168 - The Truman Show (1998) - 8.114021115918296
169 - Inside Out (2015) - 8.113638371213131
170 - Salinui chueok (2003) - 8.112991347127466
171 - Blade Runner (1982) - 8.112225959217769
172 - Trainspotting (1996) - 8.11199084050407
173 - The Bridge on the River Kwai (1957) - 8.110919427701576
174 - Fargo (1996) - 8.10960070048188
175 - Warrior (2011) - 8.109565451053252
176 - Finding Nemo (2003) - 8.10796074549881
177 - Gone with the Wind (1939) - 8.106466437233987
178 - Tôkyô monogatari (1953) - 8.10630455511097
179 - Kill Bill: Vol 1 (2003) - 8.106290551508064
180 - Babam ve Oglum (2005) - 8.104793666234643
181 - On the Waterfront (1954) - 8.101546175292427
182 - Stalker (1979) - 8.095146582352902
183 - Relatos salvajes (2014) - 8.092639297490132
184 - Sherlock Jr (1924) - 8.09183802661993
185 - The General (1926) - 8.091433203980026
186 - The Deer Hunter (1978) - 8.090916726220243
187 - Gran Torino (2008) - 8.089528788695457
188 - Persona (1966) - 8.087970508570061
189 - The Grand Budapest Hotel (2014) - 8.086258272764939
190 - Prisoners (2013) - 8.085077771767606
191 - Mary and Max (2009) - 8.084497030021666
192 - Before Sunrise (1995) - 8.084433419019582
193 - Mr Smith Goes to Washington (1939) - 8.081778352750048
194 - Room (2015) - 8.08120265282587
195 - In the Name of the Father (1993) - 8.080786657733734
196 - Catch Me If You Can (2002) - 8.080270059945489
197 - Barry Lyndon (1975) - 8.078661926537162
198 - Gone Girl (2014) - 8.077633930637903
199 - Hacksaw Ridge (2016) - 8.076372516175175
200 - Andhadhun (2018) - 8.07595846482095
201 - To Be or Not to Be (1942) - 8.073907410733932
202 - La passion de Jeanne d'Arc (1928) - 8.073307978525886
203 - Ford v Ferrari (2019) - 8.06944416470477
204 - 12 Years a Slave (2013) - 8.068611290152042
205 - The Big Lebowski (1998) - 8.06755438756068
206 - How to Train Your Dragon (2010) - 8.063049436572557
207 - Mad Max: Fury Road (2015) - 8.06136301638887
208 - Höstsonaten (1978) - 8.060627051912048
209 - Dead Poets Society (1989) - 8.060364206954935
210 - Ben-Hur (1959) - 8.05954980995067
211 - Million Dollar Baby (2004) - 8.058706132002806
212 - Le salaire de la peur (1953) - 8.05861231679577
213 - Harry Potter and the Deathly Hallows: Part 2 (2011) - 8.057414415606088
214 - Ah-ga-ssi (2016) - 8.05542391419454
215 - Network (1976) - 8.055366242668955
216 - Stand by Me (1986) - 8.055317580762617
217 - Logan (2017) - 8.051094175115377
218 - Cool Hand Luke (1967) - 8.051011789532701
219 - Les quatre cents coups (1959) - 8.050472175738681
220 - Gangs of Wasseypur (2012) - 8.050135284514164
221 - Hachi: A Dog's Tale (2009) - 8.048713964762726
222 - La haine (1995) - 8.048047166573465
223 - Platoon (1986) - 8.046677111250384
224 - Eskiya (1996) - 8.04574659186804
225 - Spotlight (2015) - 8.04393114164259
226 - Koe no katachi (2016) - 8.043306487591117
227 - Life of Brian (1979) - 8.041679859461693
228 - Rebecca (1940) - 8.041097393160266
229 - Monsters, Inc (2001) - 8.040669955139382
230 - Hotel Rwanda (2004) - 8.039574055068735
231 - Fa Yeung Nin Wah (2000) - 8.038703618353564
232 - Rush (2013) - 8.038081508173924
233 - Into the Wild (2007) - 8.036779227914106
234 - Amores perros (2000) - 8.03511621899693
235 - Andrei Rublev (1966) - 8.03477774571961
236 - Rocky (1976) - 8.034027069280677
237 - Kaze no tani no Naushika (1984) - 8.031012744553692
238 - It Happened One Night (1934) - 8.030930894706792
239 - Shin seiki Evangelion Gekijô-ban: Air/Magokoro wo, kimi ni (1997) - 8.03018230895082
240 - La battaglia di Algeri (1966) - 8.02787733493749
241 - Before Sunset (2004) - 8.027719288797664
242 - Fanny och Alexander (1982) - 8.026616090707996
243 - Trois couleurs: Rouge (1994) - 8.024210968449431
244 - Kimetsu no Yaiba: Mugen Ressha-Hen (2020) - 8.023536005111398
245 - Paris, Texas (1984) - 8.0234284823664
246 - The Princess Bride (1987) - 8.022763644866927
247 - Du rififi chez les hommes (1955) - 8.020770870320115
248 - Le notti di Cabiria (1957) - 8.020453214429828
249 - Sunrise: A Song of Two Humans (1927) - 8.019529020378918
250 - Ratsasan (2018) - 8.019386410589734

In [5]:
from bs4 import BeautifulSoup
import requests
import re


url = 'https://www.imdb.com/india/top-rated-indian-movies/'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'lxml')

movies = soup.select('td.titleColumn')
links = [a.attrs.get('href') for a in soup.select('td.titleColumn a')]
crew = [a.attrs.get('title') for a in soup.select('td.titleColumn a')]
ratings = [b.attrs.get('data-value') for b in soup.select('td.posterColumn span[name=ir]')]
votes = [b.attrs.get('data-value') for b in soup.select('td.ratingColumn strong')]

imdb = []

# Store each item into dictionary (data), then put those into a list (imdb)
for index in range(0, len(movies)):
    # Seperate movie into: 'place', 'title', 'year'
    movie_string = movies[index].get_text()
    movie = (' '.join(movie_string.split()).replace('.', ''))
    movie_title = movie[len(str(index))+1:-7]
    year = re.search('\((.*?)\)', movie_string).group(1)
    place = movie[:len(str(index))-(len(movie))]
    data = {"movie_title": movie_title,
            "year": year,
            "place": place,
            "star_cast": crew[index],
            "rating": ratings[index],
            "vote": votes[index],
            "link": links[index]}
    imdb.append(data)

for item in imdb:
    print(item['place'], '-', item['movie_title'], '('+item['year']+') -', item["rating"])

1 - Nayakan (1987) - 8.494749082493176
2 - Anbe Sivam (2003) - 8.483185308711482
3 - Pariyerum Perumal (2018) - 8.480850826397496
4 - C/o Kancharapalem (2018) - 8.468740077296841
5 - Golmaal (1979) - 8.467004686430663
6 - Manichitrathazhu (1993) - 8.461161683192962
7 - Kireedam (1989) - 8.460215335060544
8 - Apur Sansar (1959) - 8.456635204158445
9 - Natsamrat (2016) - 8.436280026567204
1 -  96 (2018) - 8.429029138618345
11 - Pather Panchali (1955) - 8.416990664774934
12 - Kumbalangi Nights (2019) - 8.414947623808816
13 - Thevar Magan (1992) - 8.414573244029633
14 - Black Friday (2004) - 8.41112074667696
15 - Soorarai Pottru (2020) - 8.364421300899837
16 - Visaaranai (2015) - 8.360884006847883
17 - 3 Idiots (2009) - 8.351004416437787
18 - #Home (2021) - 8.342933928315857
19 - Jersey (2019) - 8.341946211632695
20 - Taare Zameen Par (2007) - 8.32928812005297
21 - Drishyam 2 (2021) - 8.32286236287206
22 - Asuran (2019) - 8.319752542246743
23 - Thalapathi (1991) - 8.313719263951699
24 - Sarpatta Parambarai (2021) - 8.307835915798783
25 - Kaithi (2019) - 8.307739638100976
26 - Dangal (2016) - 8.298471263191834
27 - Devasuram (1993) - 8.292681611874656
28 - Aparajito (1956) - 8.279806514102654
29 - Jaane Bhi Do Yaaro (1983) - 8.275421674808271
30 - Ratsasan (2018) - 8.272174201569262
31 - Pyaasa (1957) - 8.271991432147765
32 - Vada Chennai (2018) - 8.267620753928815
33 - Peranbu (2018) - 8.266885684877845
34 - Guide (1965) - 8.261203756284168
35 - Thani Oruvan (2015) - 8.255923549930095
36 - Kannathil Muthamittal (2002) - 8.244363821373915
37 - Spadikam (1995) - 8.239888314814204
38 - Agent Sai Srinivasa Athreya (2019) - 8.239536498729828
39 - Iruvar (1997) - 8.238873537247654
40 - Chupke Chupke (1975) - 8.238622946187142
41 - Super Deluxe (2019) - 8.231333184155373
42 - Mahanati (2018) - 8.225415645252333
43 - Aruvi (2016) - 8.213743686324207
44 - Drishyam (2013) - 8.211010384021652
45 - Khosla Ka Ghosla! (2006) - 8.207645806375906
46 - Pudhu Pettai (2006) - 8.20598196148081
47 - Tumbbad (2018) - 8.197195230924802
48 - Vikram Vedha (2017) - 8.19581373027254
49 - Anniyan (2005) - 8.186564413270755
50 - Premam (2015) - 8.186402073807786
51 - Mudhalvan (1999) - 8.177957308654547
52 - Kaakkaa Muttai (2014) - 8.17782410552631
53 - Bangalore Days (2014) - 8.177075594720414
54 - Satya (1998) - 8.1715685542826
55 - Angoor (1982) - 8.169313518223245
56 - Andhadhun (2018) - 8.168030258515412
57 - Papanasam (2015) - 8.167344215410278
58 - Anand (1971) - 8.165980082558972
59 - Soodhu Kavvum (2013) - 8.163556131150616
60 - Dhuruvangal Pathinaaru (2016) - 8.162221737599781
61 - Shahid (2012) - 8.158534509127684
62 - Gangs of Wasseypur (2012) - 8.151552829055912
63 - Pithamagan (2003) - 8.149843898558697
64 - Mandela (2021) - 8.14972593854673
65 - Jigarthanda (2014) - 8.148029368234736
66 - Paan Singh Tomar (2012) - 8.135820301903195
67 - Bhaag Milkha Bhaag (2013) - 8.131149954497404
68 - Hera Pheri (2000) - 8.12752506810768
69 - Sairat (2016) - 8.12658657959211
70 - Sholay (1975) - 8.123696754705096
71 - Swades: We, the People (2004) - 8.121874507455694
72 - Chak De! India (2007) - 8.119484524953728
73 - Talvar (2015) - 8.11946989983943
74 - Maheshinte Prathikaaram (2016) - 8.119432824984699
75 - Ustad Hotel (2012) - 8.11476398262942
76 - Mughal-E-Azam (1960) - 8.113658646635626
77 - Zindagi Na Milegi Dobara (2011) - 8.111997504304677
78 - Black (2005) - 8.11183090784803
79 - Drishyam (2015) - 8.110618068131295
80 - Jo Jeeta Wohi Sikandar (1992) - 8.109859254125068
81 - Theeran adhigaaram ondru (2017) - 8.108674288204979
82 - Nil Battey Sannata (2015) - 8.107749864247287
83 - Chhichhore (2019) - 8.106813736844936
84 - Article 15 (2019) - 8.105676701923905
85 - Charulata (1964) - 8.105306907011247
86 - Udaan (2010) - 8.104496018030355
87 - A Wednesday (2008) - 8.10176469020689
88 - Baasha (1995) - 8.09719167810865
89 - Munna Bhai MBBS (2003) - 8.095075383354988
90 - Alai Payuthey (2000) - 8.09503250096257
91 - Masaan (2015) - 8.094767595792138
92 - Sarfarosh (1999) - 8.091397021818533
93 - Queen (2013) - 8.09049153363165
94 - Virumandi (2004) - 8.088903526844723
95 - Dil Chahta Hai (2001) - 8.086621654149234
96 - Rang De Basanti (2006) - 8.08618870625683
97 - OMG: Oh My God! (2012) - 8.085214756620994
98 - Roja (1992) - 8.084319610963307
99 - Uri: The Surgical Strike (2019) - 8.077706880205787
10 -  Lagaan: Once Upon a Time in India (2001) - 8.074948637950946
101 - Andaz Apna Apna (1994) - 8.074098839004765
102 - Kahaani (2012) - 8.073476042840186
103 - PK (2014) - 8.067773790266237
104 - Lucia (2013) - 8.056047006771214
105 - Bommarillu (2006) - 8.05562338210248
106 - The Legend of Bhagat Singh (2002) - 8.05540902358503
107 - Iqbal (2005) - 8.054596819829126
108 - Barfi! (2012) - 8.053202712314624
109 - Shershaah (2021) - 8.046051686356323
110 - Section 375 (2019) - 8.045228473208589
111 - Pink (2016) - 8.041772510624552
112 - Maqbool (2003) - 8.04034018534826
113 - Bombay (1995) - 8.039834841766815
114 - Indian (1996) - 8.036440999441572
115 - Omkara (2006) - 8.03236401079112
116 - The Great Indian Kitchen (2021) - 8.027606380248246
117 - Thadam (2019) - 8.027466714155558
118 - Lage Raho Munna Bhai (2006) - 8.022750658113914
119 - Pelli Choopulu (2016) - 8.014895675120465
120 - Baahubali 2: The Conclusion (2017) - 8.010768525726638
121 - Deewaar (1975) - 8.004929808710035
122 - Pranchiyettan and the Saint (2010) - 8.002913668839753
123 - Naduvula Konjam Pakkatha Kaanom (2012) - 7.999706179292039
124 - Rangasthalam (2018) - 7.999005357569098
125 - Padosan (1968) - 7.995415013554831
126 - Gulaal (2009) - 7.994994479739241
127 - Athadu (2005) - 7.9922840166864235
128 - Dilwale Dulhania Le Jayenge (1995) - 7.989475678062346
129 - Haider (2014) - 7.989091631190172
130 - Thondimuthalum Dhriksakshiyum (2017) - 7.985561338498765
131 - Padayappa (1999) - 7.984249966165565
132 - Take Off (2017) - 7.982842472821615
133 - Ugly (2013) - 7.970004148339832
134 - KGF: Chapter 1 (2018) - 7.967420086995187
135 - Aadukalam (2011) - 7.964606395442809
136 - Mother India (1957) - 7.961651827970614
137 - Vaaranam Aayiram (2008) - 7.954871756067525
138 - Special Chabbis (2013) - 7.95478553379567
139 - Ulidavaru Kandanthe (2014) - 7.9454581285041135
140 - Nayattu (2021) - 7.940045333233526
141 - Ship of Theseus (2012) - 7.935639250585109
142 - Badhaai ho (2018) - 7.931947989008785
143 - DevD (2009) - 7.930257041312528
144 - Bajrangi Bhaijaan (2015) - 7.929794123247766
145 - Jalsaghar (1958) - 7.921870839828476
146 - Deiva Thirumagal (2011) - 7.913010307741859
147 - Vaastav: The Reality (1999) - 7.912531120105478
148 - Gully Boy (2019) - 7.912529194734036
149 - Mukkabaaz (2017) - 7.906114700619737
150 - Ankhon Dekhi (2013) - 7.904689813152066
151 - Vedam (2010) - 7.90210774521584
152 - Company (2002) - 7.898957965255778
153 - Manjhi: The Mountain Man (2015) - 7.896686602880091
154 - Karnan (2021) - 7.895196353900632
155 - Charlie (2015) - 7.886203556947932
156 - Pizza (2012) - 7.8854457996927865
157 - Arjun Reddy (2017) - 7.882810820739629
158 - Memories (2013) - 7.878767890297046
159 - Malik (2021) - 7.87682686733128
160 - My Name Is Khan (2010) - 7.874726656057224
161 - Jab We Met (2007) - 7.864590109816457
162 - Dil Bechara (2020) - 7.86404834099321
163 - Kal Ho Naa Ho (2003) - 7.8635513623684705
164 - Border (1997) - 7.859385364005786
165 - Ayyappanum Koshiyum (2020) - 7.8555216964521355
166 - Super 30 (2019) - 7.85504778293156
167 - Vinnaithaandi Varuvaayaa (2010) - 7.853377091521555
168 - Mumbai Police (2013) - 7.8508040187169135
169 - Angamaly Diaries (2017) - 7.843905535937022
170 - Poove Unakkaga (1996) - 7.841625080830901
171 - Unnaipol Oruvan (2009) - 7.841614508576602
172 - KaakhaKaakha: The Police (2003) - 7.841606884218578
173 - Sonchiriya (2019) - 7.840546208361259
174 - Lakshya (2004) - 7.8345305860963235
175 - Bãhubali: The Beginning (2015) - 7.833898477719905
176 - Anjaam Pathiraa (2020) - 7.830861590822483
177 - Padman (2018) - 7.830785651616299
178 - Hey Ram (2000) - 7.829620366471087
179 - Vettaiyaadu Vilaiyaadu (2006) - 7.828022001019786
180 - Baby (2015) - 7.825992384115318
181 - Dor (2006) - 7.825827194771024
182 - Thulladha Manamum Thullum (1999) - 7.816489256662108
183 - Airlift (2016) - 7.814739364387553
184 - Hindi Medium (2017) - 7.809792222883769
185 - English Vinglish (2012) - 7.802145666399385
186 - Okkadu (2003) - 7.798683974955315
187 - Gangaajal (2003) - 7.792285227914412
188 - The Lunchbox (2013) - 7.792054497799596
189 - Manam (2014) - 7.786045362886247
190 - Johnny Gaddaar (2007) - 7.780105589132407
191 - Ab Tak Chhappan (2004) - 7.7751914857523685
192 - MS Dhoni: The Untold Story (2016) - 7.767603023054563
193 - Joji (2021) - 7.759139624801093
194 - Pokiri (2006) - 7.755154236951443
195 - Badla (2019) - 7.752601565093529
196 - Secret Superstar (2017) - 7.74244301685085
197 - Goodachari (2018) - 7.742242730706891
198 - Mimi (2021) - 7.739758416291879
199 - Nayak: The Real Hero (2001) - 7.7378788867365325
200 - Vicky Donor (2012) - 7.736449790417389
201 - Stanley Ka Dabba (2011) - 7.735512616207968
202 - Aayirathil Oruvan (2010) - 7.73334166512727
203 - Mr India (1987) - 7.732348840935462
204 - Raazi (2018) - 7.729157357581083
205 - Don (1978) - 7.72742651550265
206 - Udta Punjab (2016) - 7.726641527493039
207 - RangiTaranga (2015) - 7.720870888953223
208 - Aligarh (2015) - 7.718296311630077
209 - Ko (2011) - 7.717511124367342
210 - Velaiilla Pattadhari (2014) - 7.717370973538144
211 - Veer-Zaara (2004) - 7.715421654832355
212 - Rock On!! (2008) - 7.713381579966849
213 - Thuppakki (2012) - 7.709467411875523
214 - Dasvidaniya (2008) - 7.704340512778427
215 - Arya (2004) - 7.698615189382615
216 - Guru (2007) - 7.696661642750522
217 - Kaththi (2014) - 7.689047468459231
218 - Kai po che! (2013) - 7.689013250912915
219 - Samsara (2001) - 7.685182807349643
220 - Oye Lucky! Lucky Oye! (2008) - 7.675405590465951
221 - 24 (2016) - 7.665995641685785
222 - Ghilli (2004) - 7.664324603537575
223 - Rockstar (2011) - 7.650620181811948
224 - Eega (2012) - 7.648583349451322
225 - Mumbai Meri Jaan (2008) - 7.646881925302074
226 - Avane Srimannarayana (2019) - 7.639386316304334
227 - Darr (1993) - 7.634840143333139
228 - Kabhi Haan Kabhi Naa (1994) - 7.632328924314725
229 - Sir (2018) - 7.631405958623845
230 - C U Soon (2020) - 7.627765821926928
231 - Kapoor & Sons (2016) - 7.626774502129444
232 - Newton (2017) - 7.626289540954347
233 - The Tashkent Files (2019) - 7.621602256790817
234 - Aamir (2008) - 7.620338164267545
235 - Ugramm (2014) - 7.617784255323164
236 - Earth (1998) - 7.612747965615897
237 - Detective Byomkesh Bakshy! (2015) - 7.6067920527338515
238 - Agneepath (1990) - 7.6062257548949175
239 - Madras Cafe (2013) - 7.605750384003421
240 - State of Siege: Temple Attack (2021) - 7.603862877453342
241 - Sarkar (2005) - 7.602316862012855
242 - Bheja Fry (2007) - 7.598421929385786
243 - Neerja (2016) - 7.597326407804117
244 - Pyaar Ka Punchnama (2011) - 7.596899459225778
245 - Kannum Kannum Kollaiyadithaal (2020) - 7.593702191008103
246 - Magadheera (2009) - 7.587372746902659
247 - Highway (2014) - 7.585288690113661
248 - Baazigar (1993) - 7.571621487892864
249 - Saala Khadoos (2016) - 7.567080308780732
250 - 1 - Nenokkadine (2014) - 7.567000892190639

# Write a python program to scrap book name, author name, genre and book review of any 5 books from
‘www.bookpage.com’

In [6]:
from bs4 import BeautifulSoup
import requests
import re

url = "https://bookpage.com/reviews"
response= requests.get(url)
soup= BeautifulSoup(response.text, "lxml")

book_title=soup.find_all("h4",class_="italic",limit=5)
book_title
kitab_title=[]

for i in book_title:
    kitab_title.append(i.text.strip())
kitab_title

['★ A Calling for Charlie Barnes',
 "Playing the Cards You're Dealt",
 "Please Don't Sit on My Bed in Your Outside Clothes",
 'Horseman',
 '★ Cloud Cuckoo Land']

In [7]:
authors=soup.find_all("p",class_="sans bold",limit=5)
authors
authors_name=[]
for i in authors:
    authors_name.append(i.text.strip())
authors_name

['Joshua Ferris',
 'Varian Johnson',
 'Phoebe Robinson',
 'Christina Henry',
 'Anthony Doerr']

In [8]:
genre=soup.find_all("p",class_="excerpt",limit=5)
genre
genres=[]
for i in genre:
    genres.append(i.text.strip())
genres

['Joshua Ferris’ control of his narrative is impeccable, but that doesn’t mean readers shouldn’t be prepared for frequent wicked curveballs.',
 '',
 'Not only are Phoebe Robinson’s essays super funny, they’re also enlightening and thought-provoking, dotted with hits of poetry, anger and revelation.',
 '',
 'Sorrow and violence play large roles in the latest novel from Anthony Doerr, but so does tenderness.']

In [9]:
import pandas as pd
books=pd.DataFrame({})
books["book_title"]=kitab_title
books["authors"]=authors
books["genre"]=genres

In [10]:
books

,book_title,authors,genre
0,★ A Calling for Charlie Barnes,[\nJoshua Ferris\n],Joshua Ferris’ control of his narrative is imp...
1,Playing the Cards You're Dealt,[\nVarian Johnson\n],
2,Please Don't Sit on My Bed in Your Outside Clo...,[\nPhoebe Robinson\n],Not only are Phoebe Robinson’s essays super fu...
3,Horseman,[\nChristina Henry\n],
4,★ Cloud Cuckoo Land,[\nAnthony Doerr\n],Sorrow and violence play large roles in the la...

Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [11]:
from bs4 import BeautifulSoup
import requests
import re
url = "https://www.icc-cricket.com/rankings/mens/team-rankings/odi"
response= requests.get(url)
soup= BeautifulSoup(response.text, "lxml")

countries=soup.find_all("span",class_="u-show-phablet",limit=10)
countries

country_name=[]
for i in countries:
    country_name.append(i.text)
country_name

['NZ', 'ENG', 'AUS', 'IND', 'SA', 'PAK', 'BAN', 'WI', 'SL', 'AFG']

In [12]:
ratings=soup.find_all("td",class_="table-body__cell u-text-right rating",limit=10)
ratings

rating_no=[]
for i in ratings:
    rating_no.append(i.text)
rating_no

['119', '116', '113', '98', '93', '91', '84', '83', '62', '48']

In [22]:
matches=soup.find_all("td",class_="table-body__cell u-center-text",limit=20)
matches


match_no=[]
for i in matches:
    match_no.append(i.text.strip())
match_no

['32',
 '3,793',
 '28',
 '3,244',
 '32',
 '3,624',
 '25',
 '2,459',
 '27',
 '2,524',
 '30',
 '2,740',
 '30',
 '2,523',
 '32',
 '2,657',
 '17',
 '1,054',
 '7',
 '336']

In [14]:
import pandas as pd
MATCH=pd.DataFrame({})
MATCH["country_name"]=countries
MATCH["rating_no"]=ratings

In [15]:
MATCH

  country_name rating_no
0         [NZ]     [119]
1        [ENG]     [116]
2        [AUS]     [113]
3        [IND]      [98]
4         [SA]      [93]
5        [PAK]      [91]
6        [BAN]      [84]
7         [WI]      [83]
8         [SL]      [62]
9        [AFG]      [48]

Top 10 ODI Batsmen in men along with the records of their team and rating.

In [1]:
from bs4 import BeautifulSoup
import requests
import re
url = "https://www.icc-cricket.com/rankings/mens/player-rankings/odi"
response= requests.get(url)
soup= BeautifulSoup(response.text, "lxml")



men=soup.find_all("td",class_="table-body__cell name",limit=9)
men

top_ten=[]
for i in men:
    top_ten.append(i.text.strip())
top_ten
top_ten.insert(0,"BABAR AZAM")



top_ten



ratings=[873,844,813,801,779,775,762,758,754,747]
ratings




import pandas as pd
ds=pd.DataFrame({})
ds["top_ten"]=top_ten
ds["ratings"]=ratings




ds

           top_ten  ratings
0       BABAR AZAM      873
1      Virat Kohli      844
2     Rohit Sharma      813
3      Ross Taylor      801
4      Aaron Finch      779
5   Jonny Bairstow      775
6     David Warner      762
7        Shai Hope      758
8  Kane Williamson      754
9  Quinton de Kock      747

Top 10 women’s ODI players along with the records of their team and rating.

In [ ]:
from bs4 import BeautifulSoup
import requests
import re
url = "https://www.icc-cricket.com/rankings/womens/player-rankings/odi"
response= requests.get(url)
soup= BeautifulSoup(response.text, "lxml")

women=soup.find_all("td",class_="table-body__cell name",limit=9)
women

top_tenwomen=[]
for i in women:
    top_tenwomen.append(i.text.strip())
top_tenwomen

In [ ]:
top_tenwomen.insert(0,"LIZELLE LEE")

In [2]:
top_tenwomen

NameError: name 'top_tenwomen' is not defined

In [3]:
ratings_women=[761,750,738,728,717,710,699,690,674,672]
ratings_women

[761, 750, 738, 728, 717, 710, 699, 690, 674, 672]

In [4]:
import pandas as pd
ds=pd.DataFrame({})
ds["top_tenwomen"]=top_tenwomen
ds["ratings_women"]=ratings_women
ds

NameError: name 'top_tenwomen' is not defined

Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [ ]:
from bs4 import BeautifulSoup
import requests
import re
url = "https://www.icc-cricket.com/rankings/womens/player-rankings/odi"
response= requests.get(url)
soup= BeautifulSoup(response.text, "lxml")

women_allrounder=soup.find_all("td",class_="table-body__cell name",limit=27)
women_allrounder



allrounder=[]
for i in women_allrounder:
    allrounder.append(i.text.strip())
allrounder

In [5]:
NEW_LIST=allrounder[19:27]

NameError: name 'allrounder' is not defined

In [6]:
NEW_LIST.insert(0,"MARIZANNE KAPP")

NameError: name 'NEW_LIST' is not defined

In [7]:
NEW_LIST

NameError: name 'NEW_LIST' is not defined

In [8]:
RATINGS_ALL=[384,372,365,322,299,275,274,272,251]
RATINGS_ALL

[384, 372, 365, 322, 299, 275, 274, 272, 251]

In [9]:
import pandas as pd
AR=pd.DataFrame({})
AR["NEW_LIST"]=NEW_LIST
AR["RATINGS_ALL"]=RATINGS_ALL
AR

NameError: name 'NEW_LIST' is not defined

Write a python program to scrape fresher job listings from ‘https://internshala.com/’.

In [11]:
from bs4 import BeautifulSoup
import requests
import re
url = "https://internshala.com/fresher-jobs"
response= requests.get(url)
soup= BeautifulSoup(response.text, "lxml")


JOBS=soup.find_all("div",class_="heading_4_5 profile")
JOBS



JOB=[]
for i in JOBS:
    JOB.append(i.text.strip())
JOB


COMPANIES=soup.find_all("div",class_="heading_6 company_name")
COMPANIES


comp_name=[]
for i in COMPANIES:
    comp_name.append(i.text.strip())
comp_name
import pandas as pd
kaam=pd.DataFrame({})
kaam["JOBS"]=JOB
kaam["COMPANIES"]=comp_name
kaam

,JOBS,COMPANIES
0,Management Trainee - Sales,CEAT Limited
1,Backend Developer - Java/Spring MVC,OPSKUBE
2,Online Robotics & Coding Instructor,Wiingy Private Limited
3,Cyber Security Junior Analyst,SecurDI LLP
4,Modeling And Simulation Engineer,Opal-RT Technologies
5,Business Development Executive,Clevertek Solutions LLP
6,Content Writer,Pathfynder Solutions
7,Customer Support Executive,BuySupplies
8,Corporate Sales Associate,SalesBlink
9,Front-End Engineer,AffinityAnswers
10,Full Stack Engineer (MERN),Softway Solutions Private Limited
11,Content Writer,Goodera
12,Associate Project Manager,Progresso Research & Analytics Private Limited
13,Researcher & Content Writer,Cliff Coelho
14,Senior Copywriter - Media Query Pitching Team,Ranksoldier International Private Limited
15,Educational Counselor And Coordinator,Musale Classes
16,Software Engineer,Shipsy
17,Junior Software Engineer,Monad InfoTech
18,Senior Executive - Talent Acquisition,Orange Umbrella
19,Trainee Engineer,Active.ai
20,Business Development Associate,Open Door Education
21,Motion Graphic Designer,UGLY
22,Content Creator,Picocrew
23,Logistics And Operations Manager,Little Olive
24,Business Development Specialist,Apto Media Solutions
25,Trainee Engineer,Moodraa
26,Software Engineer - Flutter/Dart,Aimed Labs
27,Associate Java Developer,HostBooks Limited
28,Android App Developer,WatchDeck
29,Support & Installation Engineer,ENSOWT
30,Assistant Brand Manager,Pet Project India Private Limited
31,Associate Recruiter,Recruit CRM
32,Student Mentor - English,Kid Aptivity Technologies
33,Human Resources (HR) Manager,FreeCo Education Private Limited
34,Software Engineer - Trainee,RightRev India Private Limited
35,Embedded Systems Associate,Limelight
36,Business Development Associate,StayQrious India Private Limited
37,Social Media Executive,Plix - The Plant Flix
38,Digital Marketing Executive,Nebula Robotics
39,Market Research Associate,IndustryARC

In [12]:
from bs4 import BeautifulSoup
import requests
import re
url = "https://internshala.com/fresher-jobs"
response= requests.get(url)
soup= BeautifulSoup(response.text, "lxml")

apply=soup.find_all("span",class_="start_immediately_mobile")
apply



apply_date=[]
for i in apply:
    apply_date.append(i.text.strip())
apply_date

['Starts',
 'Starts',
 'Starts',
 'Starts',
 'Starts',
 'Starts',
 'Starts',
 'Starts',
 'Starts',
 'Starts',
 'Starts',
 'Starts',
 'Starts',
 'Starts',
 'Starts',
 'Starts',
 'Starts',
 'Starts',
 'Starts',
 'Starts',
 'Starts',
 'Starts',
 'Starts',
 'Starts',
 'Starts',
 'Starts',
 'Starts',
 'Starts',
 'Starts',
 'Starts',
 'Starts',
 'Starts',
 'Starts',
 'Starts',
 'Starts',
 'Starts',
 'Starts',
 'Starts',
 'Starts',
 'Starts']

In [ ]:
import pandas as pd
kaam=pd.DataFrame({})
kaam["JOBS"]=JOB
kaam["COMPANIES"]=comp_name
kaam["apply"]=apply_date
kaam