In [327]:
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.support import expected_conditions as EC
import time
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys

In [328]:
driver = webdriver.Chrome(r'C:/Users/rjhcl/Downloads/chromedriver_win32/chromedriver.exe')

# question 1

In [329]:
url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver.get(url)

In [330]:
rank = driver.find_elements_by_xpath("//div[@id='mw-content-text']/div[1]/table[3]/tbody/tr/td[1]")
Rank=[]
for i in rank:
    if i.text is None:
        Rank.append("-")
    else:
        Rank.append(i.text.replace(".",""))

In [331]:
name = driver.find_elements_by_xpath("//div[@id='mw-content-text']/div[1]/table[3]/tbody/tr/td[2]")
Name=[]
for i in name:
    if i.text is None:
        Name.append("-")
    else:
        Name.append(i.text.replace('"',""))

In [332]:
uploader = driver.find_elements_by_xpath("//div[@id='mw-content-text']/div[1]/table[3]/tbody/tr/td[3]")
Artist=[]
for i in uploader:
    if i.text is None:
        Arist.append("-")
    else:
        Artist.append(i.text)

In [333]:
views = driver.find_elements_by_xpath("//div[@id='mw-content-text']/div[1]/table[3]/tbody/tr/td[4]")
Views=[]
for i in views:
    if i.text is None:
        Views.append("-")
    else:
        Views.append(i.text)

In [334]:
date = driver.find_elements_by_xpath("//div[@id='mw-content-text']/div[1]/table[3]/tbody/tr/td[5]")
Upload_date=[]
for i in date:
    if i.text is None:
        Upload_date.append("-")
    else:
        Upload_date.append(i.text)

In [335]:
df=pd.DataFrame({})
df['Rank']=Rank
df['Video_name']=Name
df['Artist']=Artist
df['Upload_date']=Upload_date
df['Views']=Views
df

,Rank,Video_name,Artist,Upload_date,Views
0,1,Baby Shark Dance[22],Pinkfong Kids' Songs & Stories,"June 17, 2016",9.06
1,2,Despacito[24],Luis Fonsi,"January 12, 2017",7.47
2,3,Johny Johny Yes Papa[25],LooLoo Kids,"October 8, 2016",5.60
3,4,Shape of You[26],Ed Sheeran,"January 30, 2017",5.40
4,5,See You Again[27],Wiz Khalifa,"April 6, 2015",5.20
5,6,Masha and the Bear – Recipe for Disaster[30],Get Movies,"January 31, 2012",4.45
6,7,Bath Song[31],Cocomelon – Nursery Rhymes,"May 2, 2018",4.39
7,8,Learning Colors – Colorful Eggs on a Farm[32],Miroshka TV,"February 27, 2018",4.35
8,9,Uptown Funk[33],Mark Ronson,"November 19, 2014",4.25
9,10,Gangnam Style[34],Psy,"July 15, 2012",4.14
10,11,Phonics Song with Two Words[36],ChuChu TV,"March 6, 2014",4.04
11,12,Sugar[37],Maroon 5,"January 14, 2015",3.52
12,13,Dame Tu Cosita[38],El Chombo,"April 5, 2018",3.49
13,14,Sorry[39],Justin Bieber,"October 22, 2015",3.45
14,15,Roar[40],Katy Perry,"September 5, 2013",3.40
15,16,Counting Stars[41],OneRepublic,"May 31, 2013",3.35
16,17,Thinking Out Loud[42],Ed Sheeran,"October 7, 2014",3.30
17,18,Wheels on the Bus[43],Cocomelon – Nursery Rhymes,"May 24, 2018",3.20
18,19,Dark Horse[44],Katy Perry,"February 20, 2014",3.11
19,20,Faded[45],Alan Walker,"December 3, 2015",3.11
20,21,Girls Like You[46],Maroon 5,"May 31, 2018",3.08
21,22,Shake It Off[47],Taylor Swift,"August 18, 2014",3.08
22,23,Lean On[48],Major Lazer,"March 22, 2015",3.07
23,24,Bailando[49],Enrique Iglesias,"April 11, 2014",3.07
24,25,Let Her Go[50],Passenger,"July 25, 2012",3.04
25,26,Mi Gente[51],J Balvin,"June 29, 2017",2.95
26,27,Perfect[52],Ed Sheeran,"November 9, 2017",2.91
27,28,Axel F[53],Crazy Frog,"June 16, 2009",2.91
28,29,Waka Waka (This Time for Africa)[54],Shakira,"June 4, 2010",2.90
29,30,Hello[55],Adele,"October 22, 2015",2.86

# question 2

In [336]:
url = "https://www.bcci.tv/"
driver.get(url)

In [337]:
drop_down = driver.find_element_by_xpath("//div[@class='navigation__drop-down drop-down drop-down--reveal-on-hover']").click()

In [338]:
drop_down = driver.find_element_by_xpath("//a[@class='navigation__link navigation__link--in-drop-down']").click()

In [339]:
match_title = driver.find_elements_by_xpath("//strong[@class='fixture__name fixture__name--with-margin']")
Match_title=[]
for i in match_title:
    if i.text is None:
        Match_title.append("-")
    else:
        Match_title.append(i.text)

In [340]:
series = driver.find_elements_by_xpath("//span[@class='u-unskewed-text fixture__tournament-label u-truncated']")
Series=[]
for i in series:
    if i.text is None:
        Series.append("-")
    else:
        Series.append(i.text)

In [341]:
place = driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/span")
Place=[]
for i in place:
    if i.text is None:
        Place.append("-")
    else:
        Place.append(i.text)

In [342]:
date = driver.find_elements_by_xpath("//span[@class='fixture__date']")
Date=[]
for i in date:
    if i.text is None:
        Date.append("-")
    else:
        Date.append(i.text)

In [343]:
month = driver.find_elements_by_xpath("//span[@class='fixture__month']")
Month=[]
for i in month:
    if i.text is None:
        Month.append("-")
    else:
        Month.append(i.text)

In [344]:
time = driver.find_elements_by_xpath("//span[@class='fixture__time']")
Time=[]
for i in time:
    if i.text is None:
        Time.append("-")
    else:
        Time.append(i.text)

In [345]:
df=pd.DataFrame({})
df['Match_title']=Match_title
df['Series']=Series
df['Place']=Place
df['Full_date']=Date
df['Time']=Time
df['Month']=Month
df

,Match_title,Series,Place,Full_date,Time,Month
0,1st Test,ENGLAND V INDIA 2021,"Trent Bridge, Nottingham",04,15:30 IST,AUGUST
1,2nd Test,ENGLAND V INDIA 2021,"Lord's, London",12,15:30 IST,AUGUST
2,3rd Test,ENGLAND V INDIA 2021,"Headingley, Leeds",25,15:30 IST,AUGUST
3,4th Test,ENGLAND V INDIA 2021,"The Oval, London",02,15:30 IST,SEPTEMBER
4,5th Test,ENGLAND V INDIA 2021,"Old Trafford, Manchester",10,15:30 IST,SEPTEMBER

# question 3

In [346]:
url = "https://www.guru99.com/"
driver.get(url)

In [349]:
Button= driver.find_element_by_xpath("//button[@class='gsc-search-button gsc-search-button-v2']").click()
search=driver.find_element_by_xpath("//input[@class='gsc-input']")
search.send_keys('selenium exception handling')

In [358]:
name =driver.find_elements_by_xpath("//div[@class='gs-title']")
Name=[]
for i in name:
    if i.text is None:
        Name.append("-")
    else:
        Name.append(i.text)

In [359]:
desc =driver.find_elements_by_xpath("//div[@class='gs-title']")
description=[]
for i in desc:
    if i.text is None:
        description.append("-")
    else:
        description.append(i.text)

In [360]:
df = pd.DataFrame({})
df['Name'] = Name
df['description'] = description

In [361]:
df

,Name,description
0,Selenium Exception Handling (Common Exceptions...,Selenium Exception Handling (Common Exceptions...
1,How to Handle SSL Certificate in Selenium WebD...,How to Handle SSL Certificate in Selenium WebD...
2,Selenium Alert & Popup Window Handling: How to...,Selenium Alert & Popup Window Handling: How to...
3,"Python Exception Handling: Try, Catch, Finally","Python Exception Handling: Try, Catch, Finally"
4,"Implicit, Explicit and Fluent Wait in Selenium...","Implicit, Explicit and Fluent Wait in Selenium..."
5,Try Catch in Java: Exception Handling Example,Try Catch in Java: Exception Handling Example
6,Top 100 Selenium Interview Questions and Answe...,Top 100 Selenium Interview Questions and Answe...
7,TestNG Listeners in Selenium: ITestListener & ...,TestNG Listeners in Selenium: ITestListener & ...
8,Selenium IDE Tutorial for Beginners,Selenium IDE Tutorial for Beginners
9,Page Object Model (POM) & Page Factory in Sele...,Page Object Model (POM) & Page Factory in Sele...
10,,

# question 4

In [362]:
url = "http://statisticstimes.com/"
driver.get(url)

In [363]:
WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH, '//*[@id="top"]/div[2]/div[2]/button'))).click()
WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH, '//*[@id="top"]/div[2]/div[2]/div/a[3]'))).click()
WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[2]/div[2]/div[2]/ul/li[1]/a'))).click()

In [364]:
Rank=[]
rank = driver.find_elements_by_xpath("//td[@class='data1']")[0:33]
for i in rank:
    if i.text is None:
        Rank.append("-")
    else:
        Rank.append(i.text)

In [365]:
State=[]
state = driver.find_elements_by_xpath("//td[@class='name']")[0:33]
for i in state:
    if i.text is None:
        State.append("-")
    else:
        State.append(i.text)

In [366]:
GSDP_19_to_20=[]
gsdp = driver.find_elements_by_xpath("//td[3][@class='data']")[0:33]
for i in gsdp:
    if i.text is None:
        GSDP_19_to_20.append("-")
    else:
        GSDP_19_to_20.append(i.text)

In [367]:
GSDP_18_to_19=[]
gsdp = driver.find_elements_by_xpath("//td[@class='data sorting_1']")[0:33]
for i in gsdp:
    if i.text is None:
        GSDP_18_to_19.append("-")
    else:
        GSDP_18_to_19.append(i.text)

In [368]:
SHARE=[]
share = driver.find_elements_by_xpath("//td[5][@class='data']")[0:33]
for i in share:
    if i.text is None:
        SHARE.append("-")
    else:
        SHARE.append(i.text)

In [369]:
GDP_dollar=[]
gdp = driver.find_elements_by_xpath("//td[6][@class='data']")[0:33]
for i in gdp:
    if i.text is None:
        GDP_dollar.append("-")
    else:
        GDP_dollar.append(i.text)

In [370]:
df=pd.DataFrame({})
df['RANK']=Rank
df['STATE']=State
df['GSDP 19-20']=GSDP_19_to_20
df['GSDP 18-19']=GSDP_18_to_19
df['SHARE']=SHARE
df['GDP_BILLION $']=GDP_dollar
df

   RANK                      STATE GSDP 19-20 GSDP 18-19   SHARE GDP_BILLION $
0     1                Maharashtra          -  2,632,792  13.94%       399.921
1     2                 Tamil Nadu  1,845,853  1,630,208   8.63%       247.629
2     3              Uttar Pradesh  1,687,818  1,584,764   8.39%       240.726
3     4                    Gujarat          -  1,502,899   7.96%       228.290
4     5                  Karnataka  1,631,977  1,493,127   7.91%       226.806
5     6                West Bengal  1,253,832  1,089,898   5.77%       165.556
6     7                  Rajasthan  1,020,989    942,586   4.99%       143.179
7     8             Andhra Pradesh    972,782    862,957   4.57%       131.083
8     9                  Telangana    969,604    861,031   4.56%       130.791
9    10             Madhya Pradesh    906,672    809,592   4.29%       122.977
10   11                     Kerala          -    781,653   4.14%       118.733
11   12                      Delhi    856,112    774,870   4.10%       117.703
12   13                    Haryana    831,610    734,163   3.89%       111.519
13   14                      Bihar    611,804    530,363   2.81%        80.562
14   15                     Punjab    574,760    526,376   2.79%        79.957
15   16                     Odisha    521,275    487,805   2.58%        74.098
16   17                      Assam          -    315,881   1.67%        47.982
17   18               Chhattisgarh    329,180    304,063   1.61%        46.187
18   19                  Jharkhand    328,598    297,204   1.57%        45.145
19   20                Uttarakhand          -    245,895   1.30%        37.351
20   21            Jammu & Kashmir          -    155,956   0.83%        23.690
21   22           Himachal Pradesh    165,472    153,845   0.81%        23.369
22   23                        Goa     80,449     73,170   0.39%        11.115
23   24                    Tripura     55,984     49,845   0.26%         7.571
24   25                 Chandigarh          -     42,114   0.22%         6.397
25   26                 Puducherry     38,253     34,433   0.18%         5.230
26   27                  Meghalaya     36,572     33,481   0.18%         5.086
27   28                     Sikkim     32,496     28,723   0.15%         4.363
28   29                    Manipur     31,790     27,870   0.15%         4.233
29   30                   Nagaland          -     27,283   0.14%         4.144
30   31          Arunachal Pradesh          -     24,603   0.13%         3.737
31   32                    Mizoram     26,503     22,287   0.12%         3.385
32   33  Andaman & Nicobar Islands          -          -       -             -

# question 5

In [371]:
url = "https://github.com/"
driver.get(url)

In [372]:
WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary'))).click()
WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul[2]/li[3]/a'))).click()

In [373]:
urls=[]
for i in driver.find_elements_by_xpath('//*[@id="js-pjax-container"]/div[3]/div/div[2]/article/h1/a'):
    urls.append(i.get_attribute("href"))

In [374]:
Title=[]
Description=[]
contributer_count=[]
Language_used=[]

In [375]:
for i in urls:
    driver.get(i)
    try:
        title=driver.find_element_by_xpath('//h1[@class=" d-flex flex-wrap flex-items-center break-word f3 text-normal"]')
        Title.append(title.text.replace('\n',' '))
    except NoSuchElementException:
        Title.append('-')
        
    try:
        description=driver.find_element_by_xpath('//*[@id="repo-content-pjax-container"]/div/div[2]/div[2]/div/div[1]/div/p')
        Description.append(description.text)
    except NoSuchElementException:
        Description.append('-')
        
    try:
        count=driver.find_element_by_xpath('//*[@id="repo-content-pjax-container"]/div/div[2]/div[2]/div/div[5]/div/h2/a/span')
        contributer_count.append(count.text)
    except NoSuchElementException:
        contributer_count.append('-')

    try:
        lang=driver.find_element_by_xpath('//*[@id="repo-content-pjax-container"]/div/div[2]/div[2]/div/div[6]/div/ul/li/a/span[1]')
        Language_used.append(lang.text.replace('\n',' '))
    except NoSuchElementException:
        Language_used.append('-')

In [376]:
df=pd.DataFrame({})
df['Repository_Title']=Title
df['Repository_Description']=Description
df['Contributer_Count']=contributer_count
df['Language_Used']=Language_used
df

,Repository_Title,Repository_Description,Contributer_Count,Language_Used
0,commaai / openpilot,openpilot is an open source driver assistance ...,-,-
1,Azure / azure-sdk-for-net,This repository is for active development of t...,"1,002",C#
2,bytedance / Fastbot_iOS,About Fastbot(2.0) is a model-based testing to...,-,-
3,clouDr-f2e / rubick,🔧 基于 electron 的开源工具箱，自由集成丰富插件。,2,JavaScript
4,MoienTajik / AspNetCore-Developer-Roadmap,Roadmap to becoming an ASP.NET Core developer ...,-,-
5,microsoft / ML-For-Beginners,"12 weeks, 25 lessons, 50 quizzes, classic Mach...",52,Jupyter Notebook
6,apache / pinot,Apache Pinot (Incubating) - A realtime distrib...,182,Java
7,SigmaHQ / sigma,Generic Signature Format for SIEM Systems,239,Python
8,ibraheemdev / modern-unix,A collection of modern/faster/saner alternativ...,9,-
9,klezVirus / inceptor,Template-Driven AV/EDR Evasion Framework,-,-
10,0x727 / SqlKnife_0x727,适合在命令行中使用的轻巧的SQL Server数据库安全检测工具,-,-
11,mytechnotalent / Reverse-Engineering,A FREE comprehensive reverse engineering cours...,-,-
12,sysprog21 / lkmpg,The Linux Kernel Module Programming Guide (upd...,-,-
13,microsoft / PowerToys,Windows system utilities to maximize productivity,-,-
14,RasaHQ / rasa,💬 Open source machine learning framework to au...,432,Python
15,geekxh / hello-algorithm,🌍 针对小白的算法训练 | 包括四部分：①.算法基础 ②.力扣图解 ③.大厂面经 ④.CS_...,-,-
16,terraform-aws-modules / terraform-aws-eks,Terraform module to create an Elastic Kubernet...,-,-
17,riscv2os / riscv2os,從 RISC-V 處理器到 UNIX 作業系統,2,-
18,0x727 / ShuiZe_0x727,信息收集自动化工具,-,-
19,ryanmcdermott / clean-code-javascript,🛁 Clean Code concepts adapted for JavaScript,109,JavaScript
20,vlang / v,"Simple, fast, safe, compiled language for deve...",1,-
21,MunGell / awesome-for-beginners,A list of awesome beginners-friendly projects.,-,-
22,doocs / jvm,🤗 JVM 底层原理最全知识总结,-,-
23,JetBrains / compose-jb,"Jetpack Compose for Desktop and Web, a modern ...",-,-
24,eugenp / tutorials,"Just Announced - ""Learn Spring Security OAuth"":",751,Java

# question 6

In [377]:
url = "https://www.billboard.com/"
driver.get(url)

In [378]:
search = driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/header/div/ul/li[1]/a").click()
search = driver.find_element_by_xpath("/html/body/main/div[6]/div/div[2]/div[2]/a[1]/div/div[1]").click()

In [379]:
Song=[]
song = driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']")
for i in song:
    if i.text is None:
        Song.append("-")
    else:
        Song.append(i.text)

In [380]:
Artist=[]
artist = driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']")
for i in artist:
    if i.text is None:
        Artist.append("-")
    else:
        Artist.append(i.text)

In [381]:
last_week_rank=[]
lastw_rank = driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']")
for i in lastw_rank:
    if i.text is None:
        last_week_rank.append("-")
    else:
        last_week_rank.append(i.text)

In [382]:
peak_rank=[]
rank = driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']")
for i in rank:
    if i.text is None:
        peak_rank.append("-")
    else:
        peak_rank.append(i.text)

In [383]:
weeks_on_board=[]
weeks = driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")
for i in weeks:
    if i.text is None:
        weeks_on_board.append("-")
    else:
        weeks_on_board.append(i.text)

In [384]:
df=pd.DataFrame({})
df['SONG NAME']=Song
df['ARTIST NAME']=Artist
df['LAST WEEK RANK']=last_week_rank
df['PEAK RANK']=peak_rank
df['WEEKS ON BOARD']=weeks_on_board
df

,SONG NAME,ARTIST NAME,LAST WEEK RANK,PEAK RANK,WEEKS ON BOARD
0,Butter,BTS,1,1,10
1,Industry Baby,Lil Nas X & Jack Harlow,-,2,1
2,Good 4 U,Olivia Rodrigo,2,1,11
3,Stay,The Kid LAROI & Justin Bieber,4,3,3
4,Levitating,Dua Lipa Featuring DaBaby,3,2,43
...,...,...,...,...,...
95,Minimum Wage,Blake Shelton,83,67,12
96,Working,Tate McRae X Khalid,-,88,5
97,Holy Smokes,Trippie Redd Featuring Lil Uzi Vert,50,50,2
98,WUSYANAME,"Tyler, The Creator Featuring YoungBoy Never Br...",91,14,5
99,Still Chose You,The Kid LAROI Featuring Mustard,-,100,1

# question 7

In [441]:
url = "https://www.naukri.com/"
driver.get(url)

In [442]:
job_search = driver.find_element_by_id('qsb-keyword-sugg')
job_search.send_keys('Data Scientist')

In [443]:
search_btn = driver.find_element_by_xpath("//button[@class = 'btn']")
search_btn.click()

In [444]:
Name=[]
name = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in name:
    if i.text is None:
        Name.append("-")
    else:
        Name.append(i.text)

In [445]:
Company=[]
comp = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for i in comp:
    if i.text is None:
        Company.append("-")
    else:
        Company.append(i.text)

In [446]:
Skills=[]
skills = driver.find_elements_by_xpath("//ul[@class='tags has-description']")
for i in skills:
    if i.text is None:
        Skills.append("-")
    else:
        Skills.append(i.text)

In [468]:
Location=[]
url=[]
urls=driver.find_elements_by_xpath("a[@class='subTitle ellipsis fleft']")
for i in urls:
    url.append(i.get_attribute("href"))
    
for i in url:
    driver.get(i)
    try:
        location=driver.find_element_by_xpath("span[@class='location]")
        Location.append(location.text)
    except NoSuchElementException:
        Location.append('-')

In [473]:
location = driver.find_elements_by_xpath("//li[@class = 'fleft grey-text br2 placeHolderLi location']")
Location = []
for i in location:
    Location.append(i.text)

In [475]:
df=pd.DataFrame({})
df['NAME']=Name
df['SKILL']=Skills
df['LOCATION']=Location
df['COMPANY']=Company
df

,NAME,SKILL,LOCATION,COMPANY
0,Internship : Data Scientist,Finance\nEquity Strategy\nQuantitative Researc...,"Navi Mumbai, Mumbai (All Areas)(Ghansoli)",Axis Securities Limited
1,Data Scientist - Permanent Role,Machine Learning\nData science\nStructured Dat...,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...",Onward Technologies Limited
2,Senior Data Scientist,Data Science\nBig Data Analytics\nHive\nSqoop\...,Bangalore/Bengaluru,SYMBIOSIS International W.L.L
3,Senior Data Scientist,Tensorflow\nJava\nNLP\nSCALA\nKeras\nSpark\nDe...,Bangalore/Bengaluru,Datamatics Global Services Ltd
4,Senior Data Scientist,Data Science\nBusiness Intelligence\nLogistic ...,Bangalore/Bengaluru,Publicis Groupe
5,Senior Data Scientist,R\nProduct Management\nData Scientist\nCompute...,Bangalore/Bengaluru,Bidgely Technologies Private Limited
6,Senior Data Scientist,Algorithms\nMySQL\nPython\nData Science\nProba...,"New Delhi, Bangalore/Bengaluru, Delhi / NCR\n(...",Goals 101 Data Solutions Pvt. Ltd.
7,Python AI ML Developer and Data Scientist,IT Skills\nPython\nData Science\nCoding\nArtif...,Remote,Fluid AI
8,"Data Engineers , Data Scientist and SAP",recruitment\nIT Skills\nSAP\nChannel Developme...,Bangalore/Bengaluru,Teamware Solutions
9,Senior Data Scientist,IT Skills\nPython\nTesting\nMachine Learning\n...,Bangalore/Bengaluru,IBM India Pvt. Limited
10,Sr Data Scientist,IT Skills\nPython\nData Science\nCloud\nAWS\nA...,Bangalore/Bengaluru,IBM India Pvt. Limited
11,Analytics & AI Product Mgmt - Sr. Data Scientist,Procurement\nComputer science\nBusiness proces...,Bangalore/Bengaluru,GlaxoSmithKline Pharmaceuticals Limited
12,Python - Data Scientist,Machine Learning\nR\ndata visualization\npredi...,Bangalore/Bengaluru,Mindtree Limited
13,Western Digital Data Scientist 3,Data Science\nData Scientist\nData Structures\...,Bangalore/Bengaluru,Western Digital
14,Western Digital Data Scientist,Data Science\nJava\nData Scientist\nHadoop\nCo...,Bangalore/Bengaluru,Western Digital
15,Data Scientist 4,Data Science\nJava\nData Scientist\nHadoop\nBi...,Bangalore/Bengaluru,Western Digital
16,Data Scientist /Sr.Data Scientist,Predictive Modeling\nData Science\nOperations ...,Bangalore/Bengaluru,PERSOLKELLY INDIA PRIVATE LIMITED
17,Senior Software Engineer - Data Scientist,IT Skills\nMachine Learning\nNLP\nSoftware Eng...,Bangalore/Bengaluru,Ara Resources
18,Data Scientist,Data Science\nHive\nFinancial Services\nScala\...,Bangalore/Bengaluru,Visa Inc.
19,Data Scientist - Time Series / NLP/ Artificial...,Data Science\nNLP\nArtificial Intelligence\nNa...,Bangalore/Bengaluru,Societe Generale

# question 8

# it says page not found for the link given

In [476]:
url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/"
driver.get(url)

# question 9

In [401]:
url = "https://www.imdb.com/list/ls095964455/"
driver.get(url)

In [402]:
Name=[]
name = driver.find_elements_by_xpath("/html/body/div[4]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div/div[2]/h3/a")
for i in name:
    if i.text is None:
        Name.append("-")
    else:
        Name.append(i.text)

In [403]:
Year_span=[]
year = driver.find_elements_by_xpath("/html/body/div[4]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div/div[2]/h3/span[2]")
for i in year:
    if i.text is None:
        Year_span.append("-")
    else:
        Year_span.append(i.text)

In [404]:
TV_genre=[]
tvgenre = driver.find_elements_by_xpath("/html/body/div[4]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div/div[2]/p[1]/span[5]")
for i in tvgenre:
    if i.text is None:
        TV_genre.append("-")
    else:
        TV_genre.append(i.text)

In [405]:
Runtime=[]
runtime = driver.find_elements_by_xpath("/html/body/div[4]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div/div[2]/p[1]/span[3]")
for i in runtime:
    if i.text is None:
        Runtime.append("-")
    else:
        Runtime.append(i.text)

In [406]:
Rating=[]
rating = driver.find_elements_by_xpath("/html/body/div[4]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div/div[2]/div[1]/div[1]/span[2]")
for i in rating:
    if i.text is None:
        Rating.append("-")
    else:
        Rating.append(i.text)

In [408]:
Votes=[]
votes = driver.find_elements_by_xpath("/html/body/div[4]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div/div[2]/p[4]/span[2]")
for i in votes:
    if i.text is None:
        Votes.append("-")
    else:
        Votes.append(i.text)

In [409]:
df=pd.DataFrame({})
df['TV_SHOW_NAME']=Name
df['YEAR_SPAN']=Year_span
df['TV_GENRE']=TV_genre
df['RUNTIME']=Runtime
df['RATING']=Rating
df['VOTES']=Votes
df

,TV_SHOW_NAME,YEAR_SPAN,TV_GENRE,RUNTIME,RATING,VOTES
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,849,330"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"886,613"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"886,262"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"266,567"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"227,068"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"45,072"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"55,795"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8,"171,943"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"35,731"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"195,253"

# question 10

In [478]:
url = "https://archive.ics.uci.edu/"
driver.get(url)